table {
    width: 250px;
    border-collapse: collapse;
    margin: 20px 20px;
    text-align: left;
}

th, td {
    border: 3px solid rgb(193, 50, 162);
}


body {
    background-image: url(./images/library_picture.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed;   */
}

.directionLabel {
    display: flex;
    flex-direction: column;
}

#btnCloseDialog {
    margin-top: 15px;
    font-size: 14px;
    width: fit-content;
}